<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление упражнения</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <div>

        <h1>SQLite Data</h1>
    <table id="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название упражнения</th>
                <th>Подходы вес/кол-во</th>
                <th>Дата</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table rows will be added dynamically -->
        </tbody>
    </table>


    </div>

<form id="exerciseForm">
    <div class="exercise-group">
        <label for="exerciseName">Название упражнения:</label>
        <input type="text" id="exerciseName" name="exerciseName" required>
    
        <label for="exerciseSets">вес/кол-во:</label>
        <div class="set-inputs">
            <input type="number" class="set-weight" name="setWeight1" required>
            <div class="vl"></div>
            <input type="number" class="set-repetitions" name="setRepetitions1" required>
        </div>
        <div class="v2"></div>
        <div class="set-inputs">
            <input type="number" class="set-weight" name="setWeight2" required>
            <div class="vl"></div>
            <input type="number" class="set-repetitions" name="setRepetitions2" required>
        </div>
        <!-- Добавьте необходимое количество полей ввода по аналогии -->
    </div>
    <div class="button-group"></div>
    <button type="button" onclick="saveToSQLite()">Сохранить в SQLite</button>
    <button type="button" onclick="getFromSQLite()">Получить из SQLite</button>
    </div>
</form>



<script>
  

    function addExercise() {
        var exerciseName = document.querySelector('input[name="exerciseName"]');
        var setWeight1 = document.querySelector('input[name="setWeight1"]');
        var setRepetitions1 = document.querySelector('input[name="setRepetitions1"]');
        var setWeight2 = document.querySelector('input[name="setWeight2"]');
        var setRepetitions2 = document.querySelector('input[name="setRepetitions2"]');

        var setsData = [];

        setsData.push({ exerciseName: exerciseName.value, p1: [setWeight1.value , setRepetitions1.value], p2: [setWeight2.value , setRepetitions2.value] });

        console.log(setsData);

        // Очистим поля формы после добавления.
        document.getElementById("exerciseForm").reset();
    }

    async function saveToCSV() {
        var exerciseName = document.querySelector('input[name="exerciseName"]');
        var setWeight1 = document.querySelector('input[name="setWeight1"]');
        var setRepetitions1 = document.querySelector('input[name="setRepetitions1"]');
        var setWeight2 = document.querySelector('input[name="setWeight2"]');
        var setRepetitions2 = document.querySelector('input[name="setRepetitions2"]');

        // Проверка наличия элементов перед чтением свойства 'value'
        if (exerciseName && setWeight1 && setRepetitions1 && setWeight2 && setRepetitions2) {
            var requestData = {
                content: exerciseName.value + ": " + `{${setWeight1.value},${setRepetitions1.value}} {${setWeight2.value},${setRepetitions2.value}}`
            };

            fetch('/save_csv', {
                method: 'POST',
                body: JSON.stringify(requestData),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.text())
            .then(text => alert(text))
            .catch(error => console.error('Error:', error));
        } else {
            console.error('One or more elements not found');
        }
    }
    async function saveToSQLite() {
    var exerciseName = document.querySelector('input[name="exerciseName"]');
    var setWeight1 = document.querySelector('input[name="setWeight1"]');
    var setRepetitions1 = document.querySelector('input[name="setRepetitions1"]');
    var setWeight2 = document.querySelector('input[name="setWeight2"]');
    var setRepetitions2 = document.querySelector('input[name="setRepetitions2"]');
    let currentDate = new Date();

    // Получаем день, месяц и год
    let day = currentDate.getDate();
    let month = currentDate.getMonth() + 1; // Месяцы начинаются с 0, поэтому добавляем 1
    let year = currentDate.getFullYear();

        // Добавляем ведущие нули, если нужно
    let formattedDay = day < 10 ? `0${day}` : day;
    let formattedMonth = month < 10 ? `0${month}` : month;


    // Check the existence of elements before reading the 'value' property
    if (exerciseName && setWeight1 && setRepetitions1 && setWeight2 && setRepetitions2) {
        var requestData = {
            id: 123 ,
            exercise_name: exerciseName.value,
            sets_reps:  parseInt(setWeight1.value)+ "/" + parseInt(setRepetitions1.value) + "," +
                        parseInt(setWeight2.value)+ "/" + parseInt(setRepetitions2.value),
            
            date: `${formattedDay}-${formattedMonth}-${year}` // You may need to dynamically set the date
        };

        fetch('/save_sqlite', {
            method: 'POST',
            body: JSON.stringify(requestData),
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.text())
        .then(text => alert(text))
        .catch(error => console.error('Error:', error));
        getFromSQLite();
    } else {
        console.error('One or more elements not found');
    }
}

async function getFromSQLite() {
    fetch('/get_data')
        .then(response => response.json())
        .then(data => {
            const dataTableBody = document.getElementById('data-table').getElementsByTagName('tbody')[0];
            dataTableBody.innerHTML = ''; // Clear existing rows

            data.forEach(exercise => {
                const row = dataTableBody.insertRow();
                const idCell = row.insertCell(0);
                const nameCell = row.insertCell(1);
                const setsRepsCell = row.insertCell(2);
                const dateCell = row.insertCell(3);
                const actionCell = row.insertCell(4);

                // Установим атрибуты данных для ячеек
                idCell.dataset.id = exercise.id;
                idCell.dataset.field = 'id';
                nameCell.dataset.id = exercise.id;
                nameCell.dataset.field = 'name';
                setsRepsCell.dataset.id = exercise.id;
                setsRepsCell.dataset.field = 'setsReps';
                dateCell.dataset.id = exercise.id;
                dateCell.dataset.field = 'date';

                idCell.textContent = exercise.id;
                // Создание div для значения и добавление в ячейку
                const nameValueDiv = document.createElement('div');
                nameValueDiv.textContent = exercise.exercise_name;
                nameCell.appendChild(nameValueDiv);

                const setsRepsValueDiv = document.createElement('div');
                setsRepsValueDiv.textContent = exercise.sets_reps;
                setsRepsCell.appendChild(setsRepsValueDiv);

                const dateValueDiv = document.createElement('div');
                dateValueDiv.textContent = exercise.date;
                dateCell.appendChild(dateValueDiv);

                // Добавление кнопок "Edit" и "Delete"
                const actionButtonsDiv = document.createElement('div');
                actionButtonsDiv.classList.add('actionButtons');

                const editButton = document.createElement('button');
                editButton.textContent = 'Edit';
                editButton.addEventListener('click', () => showEditForm(exercise));

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'Delete';
                deleteButton.addEventListener('click', () => deleteExercise(exercise));
                
                actionButtonsDiv.appendChild(editButton);
                actionButtonsDiv.appendChild(deleteButton);

                actionCell.appendChild(actionButtonsDiv);



                // Создание div для поля ввода и добавление в ячейку

                const editNameInput = document.createElement('input');
                editNameInput.type = 'text';
                editNameInput.value = exercise.exercise_name;
                editNameInput.style.display = 'none';
   


                const editSetsRepsInput = document.createElement('input');
                editSetsRepsInput.type = 'text';
                editSetsRepsInput.value = exercise.sets_reps;
                editSetsRepsInput.style.display = 'none';
 

                
                const editDateInput = document.createElement('input');
                editDateInput.type = 'text';
                editDateInput.value = exercise.date;
                editDateInput.style.display = 'none';


                const editButtonsDiv = document.createElement('div');
                editButtonsDiv.classList.add('editButtons');
                editButtonsDiv.style.display = 'none';
                const saveButton = document.createElement('button');
                saveButton.textContent = 'Save';
                saveButton.addEventListener('click', () => updateExercise(exercise));

                const cancelButton = document.createElement('button');
                cancelButton.textContent = 'Cancel';
                cancelButton.addEventListener('click', () => hideEditForm(exercise));

                nameCell.appendChild(editNameInput);
                setsRepsCell.appendChild(editSetsRepsInput);
                dateCell.appendChild(editDateInput);

                editButtonsDiv.appendChild(saveButton);
                editButtonsDiv.appendChild(cancelButton);
                actionCell.appendChild(editButtonsDiv);



            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}

function showEditForm(exercise) {
    console.log('showEditForm');
    const nameCell = document.querySelector(`#data-table td[data-id='${exercise.id}'][data-field='name']`);
    const setsRepsCell = document.querySelector(`#data-table td[data-id='${exercise.id}'][data-field='setsReps']`);
    const dateCell = document.querySelector(`#data-table td[data-id='${exercise.id}'][data-field='date']`);

    const editNameInput = nameCell.querySelector('input');
    const editSetsRepsInput = setsRepsCell.querySelector('input');
    const editDateInput = dateCell.querySelector('input');

    editNameInput.style.display = 'inline';
    editSetsRepsInput.style.display = 'inline';
    editDateInput.style.display = 'inline';

    const divName = nameCell.querySelector('div');
    const divSetsReps = setsRepsCell.querySelector('div');
    const divDate = dateCell.querySelector('div');

    divName.style.display = 'none';
    divSetsReps.style.display = 'none';
    divDate.style.display = 'none';

    const divButtonsEdit = document.querySelector('.editButtons');
    divButtonsEdit.style.display = 'block';

    const divActionsButtons = document.querySelector('.actionButtons');
    divActionsButtons.style.display = 'none';

}

function hideEditForm(exercise) {
    
    const nameCell = document.querySelector(`#data-table td[data-id='${exercise.id}'][data-field='name']`);
    const setsRepsCell = document.querySelector(`#data-table td[data-id='${exercise.id}'][data-field='setsReps']`);
    const dateCell = document.querySelector(`#data-table td[data-id='${exercise.id}'][data-field='date']`);

    const editNameInput = nameCell.querySelector('input');
    const editSetsRepsInput = setsRepsCell.querySelector('input');
    const editDateInput = dateCell.querySelector('input');

    editNameInput.style.display = 'none';
    editSetsRepsInput.style.display = 'none';
    editDateInput.style.display = 'none';

    const divName = nameCell.querySelector('div');
    const divSetsReps = setsRepsCell.querySelector('div');
    const divDate = dateCell.querySelector('div');

    divName.style.display = 'block';
    divSetsReps.style.display = 'block';
    divDate.style.display = 'block';

    const divButtonsEdit = document.querySelector('.editButtons');
    divButtonsEdit.style.display = 'none';

    const divActionsButtons = document.querySelector('.actionButtons');
    divActionsButtons.style.display = 'block';



}

async function updateExercise(exercise) {
    // Получаем данные из полей ввода
    const exerciseId = exercise.id;
    const updatedName = document.querySelector(`#data-table td[data-id="${exerciseId}"][data-field="name"] input`).value;
    const updatedSetsReps = document.querySelector(`#data-table td[data-id="${exerciseId}"][data-field="setsReps"] input`).value;
    const updatedDate = document.querySelector(`#data-table td[data-id="${exerciseId}"][data-field="date"] input`).value;

    // Создаем объект с обновленными данными
    const updatedData = {
        id: exerciseId,
        exercise_name: updatedName,
        sets_reps: updatedSetsReps,
        date: updatedDate
    };
    console.log(updatedData);
    // Отправляем PUT-запрос на сервер
    const response = await fetch(`/update_exercise/${exerciseId}`, {
        method: 'PUT',
        body: JSON.stringify(updatedData),
        headers: {
            'Content-Type': 'application/json',
        },
    });

    if (!response.ok) {
        console.error('Error updating exercise:', response.status);
        return;
    }

    // Обновляем таблицу после успешного обновления
    getFromSQLite();
}



// Функция для удаления упражнения
function deleteExercise(exercise) {
    const exerciseId = exercise.id; // Предполагаем, что у упражнения есть идентификатор

    if (confirm('Are you sure you want to delete this exercise?')) {
        fetch(`/delete_exercise/${exerciseId}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log('Exercise deleted successfully:', data);
            // Выполните дополнительные действия, если необходимо
            getFromSQLite(); // Обновите таблицу после удаления
        })
        .catch(error => {
            console.error('Error deleting exercise:', error);
        });
    }
}

</script>

</body>
</html>
